@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Sen:wght@400..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&family=Sen:wght@400..800&display=swap');


/* <uniquifier>: Use a unique and descriptive class name */
/* <weight>: Use a value from 400 to 800 */



.db {
    font-family: "Outfit", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: bolder;
}

.nb {
    font-family: "Sen", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    /*400to 800*/
    font-style: normal;
}


body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;

}

nav {
    /* position: fixed; */
    width: 100%;
    background-color: #232536;
    height: 50px;
    color: #F4F4F4;
    display: flex;
    align-items: center;
    z-index: 100;
}

nav h3 {
    color: #F4F4F4;
    margin-left: 25px;
}

.container {
    display: flex;
    justify-content: flex-end;

    gap: 20px;
    align-items: center;
    width: 100%;
    color: #F4F4F4;


}

.container a {
    color: #F4F4F4;

}

button {
    margin-left: 20px;
    margin-right: 20px;
    padding: 12px;
    width: 120px;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #F4F0F8;
    width: 100%;
    height: 20%;
   column-gap: 5px;
}

.content{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

a:hover{
    letter-spacing: 2px;
    transition: 0.3s;
}






footer{
    width: 100%;
    background-color: #232536;
    color: #F4F4F4;
}
.foot-1 {
    /* width: 100%;
    background-color: #232536;
    color: #F4F4F4; */
    display: flex;
    align-items: center;
    margin-top: 4%;
    padding-top: -20px;
    height: auto;
   
}

footer a {
    
    color: white;
    
}
.foot{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-left: 63%;

}

.foot-cont{
    background-color: #6D6E76;
    display: flex;
        align-items: center;
    justify-content: center;
    width: 70%;
    height: 60%;
}
.foot-cont h1{
    width: 40%;
}
.foot-main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.foot-cont button{
    background-color: #FFD050;
    width: 120px;
    height: 40px;
}
.foot-cont input{
    color: #F4F4F4;
    background: transparent;
}
